.collection-container {
    padding: 20px 10px;
    color: #fff;
    background-color: var(--bg);
    min-height: 100vh;
    width: 100%;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.video-card {
    width: 177px;
    background-color: #222;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.video-card video {
    width: 100%;
    height: auto;
}

.video-card p {
    margin: 10px 0;
}
