#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  color: black;
  min-width: 400px;
  min-height: 100vh;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 400px;
}